<ion-view view-title="分类详情">
	<ion-content ng-class="{'no-footer': tabsHidden}">
		<form name="form" ng-submit="vm.submitForm(form.$valid)" novalidate>
			<div class="weui-cells weui-cells_form">
		        <div class="weui-cell">
		            <div class="weui-cell__hd">
		            	<label class="weui-label">名称</label>
		            </div>
		            <div class="weui-cell__bd">
		                <input name="name" class="weui-input" type="text" placeholder="名称" ng-model="vm.form.name" required disabled="disabled">
		            </div>
		        </div>
		        <div class="weui-cell">
		            <div class="weui-cell__hd">
		            	<label class="weui-label">排序</label>
		            </div>
		            <div class="weui-cell__bd">
		                <input name="sort" class="weui-input" type="number" placeholder="排序（默认99）" ng-model="vm.form.sort" required disabled="disabled">
		            </div>
		        </div>
		        <div class="weui-cell weui-cell_switch">
	                <div class="weui-cell__bd"><label class="weui-label">显示</label></div>
	                <div class="weui-cell__ft">
	                    <input name="is_show" class="weui-switch" type="checkbox" ng-model="vm.form.is_show" >
	                </div>
	            </div>
		        <div class="weui-cell">
		            <div class="weui-cell__bd">
		                <textarea readonly name="remark" class="weui-textarea" placeholder="简介" rows="6" ng-model="vm.form.remark" required></textarea>
		            </div>
		        </div>

		    </div>
		    <!--<div class="weui-btn-area">
		        <button type="submit" class="weui-btn weui-btn_primary">保存</button>
		    </div>-->
	    </form>
	</ion-content>
</ion-view>